@model IEnumerable<Microsoft.WindowsAzure.Storage.Blob.CloudBlockBlob>  

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>All blobs in @ViewBag.Container container in Azure storage:</h1>
            <br />

            <div id="blobs" style="margin: 10px;">
                @Html.Partial("_Blobs", Model)
            </div>
            <img src="http://www.j-detali.ru/bitrix/templates/main_20/img/loader-gears.gif" id="loader" style="display: none; position: absolute; top: 50%; left: 50%;" />

            <div class="row">
                <h3>Выберите файл для загрузки на сервер</h3>
                @using (Ajax.BeginForm("Index", "Home", new AjaxOptions { UpdateTargetId = "blobs", LoadingElementId = "loader" }, new { enctype = "multipart/form-data" }))
                {
                    <div class="well">
                        @Html.RadioButton("uploadType", "simple")
                        <span>Обычная загрузка</span>
                        @Html.RadioButton("uploadType", "parallel", true)
                        <span>Параллельная загрузка</span>
                        <input type="file" name="file" class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-primary" value="Загрузить" />
                }
            </div>
        </div>
    </div>
</div>


